<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Ingredient</th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell class="mat-cell" *matCellDef="let ingredient">
      <input matInput type="number" min="0" value="{{ingredient.quantity}}">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
  <tr mat-row class="mat-cell" *matRowDef="let rowData; columns: columnHeaders"></tr>
</table>
