<!--
1. find out what the items/recipes are
	- give option for items that can be bought from shop
2. list out all items needed total, keeping track of quantity
3. figure out starting/end point
4. map out most efficient route
	- need to figure out "distances" between each map(aetheryte prices?)
-->

<mat-toolbar>
  <span>FFXIV Delivery Mapper</span>
</mat-toolbar>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Enter Items to be Crafted</ng-template>
      <app-recipe-input></app-recipe-input>
      <div>
        <button class="nav" mat-raised-button color="accent" matStepperNext (click)="searchRecipe()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Confirm Ingredient Quantities</ng-template>
      <app-ingredients-table [idsString]="recipeIds"></app-ingredients-table>
      <div>
        <button class="nav" mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button class="nav" mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Select Starting and End Points</ng-template>
      <mat-form-field>
        <mat-select placeholder="Starting Area">
          <mat-option *ngFor="let area of beginningAreaArray" [value]="area">
            {{area}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Destination">
          <mat-option *ngFor="let destination of destinationArray" [value]="destination">
            {{destination}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button class="nav" mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button class="nav" mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Results</ng-template>
      <app-results-tree></app-results-tree>
      <div>
        <button class="nav" mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button class="nav" mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
